<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890120378702-udvjai11t51v84k8320potsf8u2bra5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890120378702-udvjai11t51v84k8320potsf8u2bra5j</string>
	<key>API_KEY</key>
	<string>AIzaSyBctsH2tbeNi3oZeCq1Y9x2fz84fX07eTU</string>
	<key>GCM_SENDER_ID</key>
	<string>890120378702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nyxfinity.furnitureApp.dev</string>
	<key>PROJECT_ID</key>
	<string>furniture-app-57335</string>
	<key>STORAGE_BUCKET</key>
	<string>furniture-app-57335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890120378702:ios:4ecedf41ff32fdad84e61f</string>
	<key>DATABASE_URL</key>
	<string>https://furniture-app-57335.firebaseio.com</string>
</dict>
</plist>